body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#wallpaper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% { background-image: url(img/my-neighbor-totoro.png); }
    25% { background-image: url(img/spirited-away.png); }
    50% { background-image: url(img/howls-moving-castle.png); }
    75% { background-image: url(img/castle-in-the-sky.png); }
}