/* configure body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* configure root */
.root {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-y: auto;

    background-image: url(resources/wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* configure main */
.main {
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* configure heading */
.heading {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;

    color: darksalmon;

    text-align: center;
    font-family: fantasy;
    font-size: 6vh;
}

/* configure dcontainer */
.dcontainer {
    width: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 32px;

    align-content: center;
    justify-content: center;
}

/* configure detail */
.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rosybrown;
    opacity: 0.75;

    border-radius: 16px;
    border-width: 8px;
    border-style: solid;
    border-color: darksalmon;
}

/* configure title */
.title {
    margin: 16px;
    padding: 16px;

    color: rosybrown;

    background-color: skyblue;
    opacity: 0.75;

    text-align: center;
    font-family: fantasy;
    font-size: 3vh;

    border-radius: 16px;
    border-width: 6px;
    border-style: solid;
    border-color: darksalmon;
}

/* configure description */
.description {
    width: 75%;
    padding: 16px;

    color: midnightblue;

    background-color: burlywood;

    text-align: center;
    font-family: fantasy;
    font-size: 1.5vh;

    border-radius: 8px;
    border-width: 8px;
    border-style: double;
    border-color: linen;
}

/* configure acontainer */
.acontainer {
    width: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 32px;

    align-content: center;
    justify-content: center;
}