/* configure body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* configure root */
.root {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-y: auto;

    background-image: url(resources/wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* configure main */
.main {
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* configure heading */
.heading {
    margin: 0;
    margin-top: 16px;
    padding: 0;

    color: darksalmon;

    text-align: center;
    font-family: fantasy;
    font-size: 6vh;
}

/* configure dcontainer */
.dcontainer {
    width: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 32px;

    align-content: center;
    justify-content: center;
}

/* configure detail */
.detail {
    background-color: red;
}

/* configure title */
.title {
    color: green;
}

/* configure description */
.description {
    color: blue;
}

/* configure acontainer */
.acontainer {
    width: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 32px;

    align-content: center;
    justify-content: center;
}