/* configure body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* configure main */
.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% { background-image: url(resources/my-neighbor-totoro.png); }
    25% { background-image: url(resources/spirited-away.png); }
    50% { background-image: url(resources/howls-moving-castle.png); }
    75% { background-image: url(resources/castle-in-the-sky.png); }
}

/* configure title */
.title {
    margin: 0;
    padding: 0;

    text-align: center;

    color: lightgoldenrodyellow;

    font-family: fantasy;
    font-size: 8vh;
}

/* configure description */
.description {
    margin: 0;
    padding: 0;
    margin-bottom: 64px;

    text-align: center;

    color: khaki;

    font-family: fantasy;
    font-size: 6vh;
}

/* configure container */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 14vh);
    align-content: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

/* configure container > button */
.container > button {
    margin: 0;
    padding: 0;

    width: 14vh;
    height: 14vh;

    color: black;
    background-color: lightgoldenrodyellow;
    border-color: gold;
    opacity: 0.8;

    font-family: fantasy;
    font-size: 2.5vh;

    border-radius: 50%;
    border-width: 0.5vh;
    border-style: dashed;

    outline: none;

    transition: transform 0.5s;
}

.container > button:hover {
    transform: scale(1.1);
}